
article, footer ul {
	overflow: hidden;
}
.tab-content li{
	float: left;
	margin: 10px 10px 10px 0px;
	width: 72px;
	height: 105px;
}


.left-section {
	width: 600px;
	float: left;
}
.right-section {
	width: 280px;
	height: 300px;
	float: right;
	margin: 42px 0px 0px 0px;
}
.right-section ul, footer ul {
	margin:0px;
}
.right-section li {
	width:120px;
	float: left;
}

.right-section li img {
	width:50px;
}
